.app {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.app img {
    height: 100px;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-text:hover {
    color: #FDB927;;
    text-decoration:none;
    cursor:pointer;
}

.icon-text {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: rubik, 'Helvetica', serif;
}
